<div class="newsletter">
  <form action="https://bendechrai.us18.list-manage.com/subscribe/post?u=677ab7b6a057e6c7f41f8393e&amp;id=a73f856ab9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Get updates in your inbox</h2>
    <p>I don't send many updates. I don't like to spam. Let's face it - I've not posted many new articles for a while (although I do plan on changing that). If you subscribe to new articles, I'll send no more than two emails a week. As for workshop and conference information, that'll be as and when I have details. It's not likely to be more than an email a week.</p>
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    <div class="inputs">
      <input type="email" value="" name="EMAIL" id="EMAIL" placeholder="Email address *" required class="required email"/>
      <input type="text" value="" name="FNAME" id="FNAME" placeholder="First name"/>
      <input type="text" value="" name="LNAME" id="LNAME" placeholder="Last name"/>
    </div>
    <div class="topics">
      <strong>Tell me about</strong>
      <ul>
        <label for="group[1623]-1623-0">
          <li><input type="checkbox" checked="checked" value="1" name="group[1623][1]" id="group[1623]-1623-0">New Articles</li>
        </label>
        <label for="group[1623]-1623-1">
          <li><input type="checkbox" checked="checked" value="2" name="group[1623][2]" id="group[1623]-1623-1">Workshops and Conferences</li>
        </label>
      </ul>
    </div>
    <div class="button">
      <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
    </div>
    <div class="notes">
      <p>* indicates a required field</p>
    </div>
  </form>
</div>

<div class="site-footer">
  <footer>
    <p>All works are &copy; 2019 Lunar Productions Pty Ltd. Lunar Productions Pty Ltd is the corporate Trustee for the Dechrau Family Trust (ABN 17789066294).</p>
    <nav>
      <ul>
        <li><a href="{{ "/contact" | relative_url }}">Contact Ben</a></li>
        <li><a href="{{ "/terms" | relative_url }}">Terms and Privacy Statement</a></li>
      </ul>
    </nav>
  </footer>
</div>
