<div class="site-header">
  <header>
    <div>
      <a href="/">Ben Dechrai</a>
    </div>
    <nav>
      <ul>
        <li><a href="{{ "/about" | relative_url }}">About</a></li>
        <li><a href="{{ "/articles" | relative_url }}">Articles</a></li>
        <li><a href="{{ "/schedule" | relative_url }}">Schedule</a></li>
        <li><a href="{{ "/talks" | relative_url }}">Talks</a></li>
        <li><a href="{{ "/workshops" | relative_url }}">Workshops</a></li>
      </ul>
    </nav>
  </header>
</div>
