@mixin box {
  border-radius: 5px 20px 5px 20px;
  box-shadow: 0 0 10px #000000;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6, p, li, blockquote {
  font-size: 1rem;
}

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0.5em 0;
      padding: 0;

      span, a, strong {
        padding: 0.5em 1em;
      }

    }
  }

}

nav.pagination {
  text-align: right;
  ul li {
    span, a, strong {
      border: 1px solid #ccc;
    }
    strong {
      background-color: #444;
      color: #ddd;
      border-color: #000;
    }
    a:hover {
      background-color: #eee;
      border-color: #666;
    }
  }
}

div.content {
  margin: 1em;
}
body.slug .content,
body.slug-newsletter .content {
  margin: 0;
}

div.site-footer footer {
  background: #444;
  color: #ddd;
  padding: 1rem;
  text-align: center;
  nav a {
    color: #ddd;
  }
}

