div.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  article {
    flex-grow: 1;
    width: 15rem;
    margin: 5px;
    padding: 1rem;
    h2 {
      margin: 0;
    }
    time {
      text-align: right;
      display: block;
      font-style: italic;
      font-size: 90%;
      color: #888;
    }
  }
  article:hover {
    box-shadow: #ddd 0px 0px 9px;
  }
}
  
