---
layout: default
---
<div class="testimonials rotate box-big">
    <div class="testimonial">
        <div class="message">
            <span class="text nocrop">
                Ben Dechrai takes deeply technical topics and engagingly slices them into digestible portions. He helps audiences understand the topic, the motivation for the approach to the topic, and - this is the hard part - how to do something quite technical to a professional standard and really understand why it works the way it does.<br><br>
                He brings the "why" first, then the "how", gifts his audience with comprehension from the big picture to the smallest details, and makes the whole thing so fun one doesn't notice the time passing. He preps his tech and his code to a depth that there aren't failures, and the audience always feels their time is valued and respected - bringing value to any conference where he presents.<br><br>
                Ben delivers world class talks. Entertainingly. Make him your next keynote.
            </span>
            <span class="author">— Daniel Spector</span>
        </div>
    </div>
</div>
